
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form action="/" method="post">

    <label>
        Usuario: 
        <input type="type" name="name" value="" />
    </label>
    <label>
        Contraseña: 
        <input type="type" name="name" value="" />
    </label>
    <input type="submit" name="login" value="Iniciar sesión" />
</form>

