@section Css {
    <link rel="stylesheet" href="..\css\RegistroCliente.css"></link>
}

@{
}

<h2>Resgistro</h2>

<form class="form-registre-client">
    <input type="text" name="numberphone" value="" placeholder="Número de teléfono" />
    <input type="email" name="email" value="" placeholder="Email" />
    <input type="text" name="names" value="" placeholder="Nobre y apellidos"/>
    <input type="text" name="pssw" value="" placeholder="Contraseña" />
    <input type="text" name="psswrepeat" value="" placeholder="Confirmar contraseña" />
    <input type="submit" asp-controller="" asp-action="" value="Registrarse"/>
</form>

<h3>Representas un restaurante?</h3>

<p>
    Si tienes un restaurante y quieres disfrutar de los beneficios que FreeTable tiene para ofreserte.
    Crea una cuenta como <a asp-controller="Usuario" asp-action="Restaurante">empresa aquí</a>.
</p>

