
@{
    ViewData["Title"] = "Restaurante Registro";
}

<h1>Registro de empresa</h1>

<p>
    Agradecemos que decidas confiar en nosotros. Completa el formulario con los datos
    de tu empresa y en seguida te enviamo tu usuario y contraseña al correo que indiques.
</p>

<div class="form-gestor">
    <form action="/" method="post">
        <h2>Datos de usuario</h2>
        <lab>
            <input type="text" name="email" value="" />
        </lab>
        <lab>
            <input type="type" name="name" value="" />
        </lab>
        <lab>
            <input type="type" name="pssw" value="" />
        </lab>
        <lab>
            <input type="type" name="psswRepeat" value="" />
        </lab>

        <input type="submit" name="name" value="Continuar" />
    </form>

</div>

<div class="form-restaurant">
    <form action="/" method="post">
        <div>
            <h2>Datos de empresa</h2>
            <lab>
                <input type="type" name="name" value="" />
            </lab>
            <lab>
                <input type="type" name="name" value="" />
            </lab>
            <lab>
                <input type="type" name="name" value="" />
            </lab>
            <lab>
                <input type="type" name="name" value="" />
            </lab>
        </div>

        <input type="submit" name="name" value="Registrarse" />
    </form>
</div>

